<h1 class="pt-14 text-3xl font-bold leading-tight tracking-tight text-center text-theme_text4 md:text-3xl dark:text-white mb-5">
  商店總覽
</h1>
<!-- search bar -->
<div class="md:w-1/4 sm:w-3/4 mx-auto mb-6">
  <%= search_form_for @q  do |f| %>
    <div class="relative">
      <%= f.hidden_field :event, value: @event.id%>
      <%= f.search_field :title_cont, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"搜尋商店", autofocus: true%>
      <button id="search-btn" type="submit" class="absolute right-2 bottom-1 theme-button ">
        搜尋
      </button>
    </div>
  <% end %>
</div>

<!-- store card list -->

<div class=" mx-auto flex gap-10 flex-wrap justify-center px-3 pt-8  pb-3">
  <%@store.each do |store| %>
  <%=link_to event_store_products_path(@event,store) do%> 
    <div class="bg-white shadow-md border-gray-200 rounded-lg ">
        <%= img_yag store.avatar, class: "rounded align-center img-fixed", if store.avatar.attached?%>
        <h1 class="text-center text-theme_text5 font-bold text-2xl tracking-tight mb-2 pt-3">
          <%=store.title%>
        </h1>
        <p class="text-lg text-theme_text5 pb-8 ml-5">
          <%=store.description%>
        </p>
    </div>
    <% end  %>
  <% end %>
</div>
</div>

