<div style="background-color: green; color: white" >
  <%= notice %>
</div>

<h1>我的商店</h1>

<div style="background-color: red; color: white">
  <%= alert %>
</div>

<hr>

<nav>
  <%= link_to '新增商店' , new_store_path %>
</nav>

<hr>

<table>
  <tr>
    <td></td>
    <td>商店名稱</td>
    <td>商店描述</td>
    <td>編輯商店</td>
    <td>刪除商店</td>
  </tr>

  <% @store.each do |store| %>
    <tr>
      <td></td>
      <td>
        <%= link_to store.title, store_path(store.id) %>
      </td>
      <td>
        <%= store.description %>
      </td>
      <td>
        <%= link_to '編輯資訊' , edit_store_path(store.id) %>
      </td>
      <td>
        <%= link_to '刪除商店' , store_path(store.id), method: 'delete' , data: {confirm: '確定要刪除嗎？' } %>
      </td>
    </tr>
    <% end %>
</table>






