<div class="pt-16">

<%= link_to '新增商店' , new_store_path %>

<hr>

  <table>
    <thead>
      <tr>
        <td>商店名稱</td>
        <td>商店描述</td>
        <td>編輯商店</td>
        <td>刪除</td>
      </tr>
    </thead>


    <tbody>
      <tr>
        <td>
          <%= @store.title %>
        </td>
        <td>
          <%= @store.description %>
        </td>
        <td>
          <%= link_to '編輯資訊' , edit_store_path(@store.id) %>
        </td>
        <td>
          <%= link_to '刪除商店' , store_path(@store.id), method: 'delete' , data: {confirm: '確定要刪除嗎？' } %>
        </td>
      </tr>
    </tbody>

  </table>

</div>

<body>
  <div class="md:w-1/3 sm:w-full rounded-lg shadow-lg bg-white my-3">
  <div class="flex justify-between border-b border-gray-100 px-5 py-4">
    <div>
      <i class="fas fa-exclamation-circle text-blue-500"></i>
      <span class="font-bold text-gray-700 text-lg"><%= @store.title %></span>
    </div>
    <div>
      <button><i class="fa fa-times-circle text-red-500 hover:text-red-600 transition duration-150"></i></button>
    </div>
  </div>

  <div class="px-10 py-5 text-gray-600">
    <%= @store.description %>
  </div>

  <div class="px-5 py-4 flex justify-end">
    <button class="text-sm py-2 px-3 text-gray-500 hover:text-gray-600 transition duration-150">Close</button>
  </div>
  </div>
</body>