<nav data-controller="hamburger" class="relative flex items-center justify-between w-full md:px-3 z-10 bg-theme_light_purple h-16 pr-3">
  <a href="/home" class="flex h-full">
    <%= image_tag '/assets/RubyJoy_logo.webp', alt: 'RubyJoy Logo', class: 'w-40 py-3.5' %>
  </a>
  <div  data-action="click->hamburger#toggle"   class="hamburger cursor-pointer h-10 w-10 relative flex justify-center flex-wrap content-center md:hidden z-20">
    <span id="hbtop" data-hamburger-target="hbTop" class=" bg-white h-1 w-8 absolute top-2"></span>
    <span id="hbmid" data-hamburger-target="hbMid" class=" bg-white h-1 w-8 absolute top-5"></span>
    <span id="hbbot" data-hamburger-target="hbBot" class=" bg-white h-1 w-8 absolute top-8"></span>
  </div>
<ul data-action="click->hamburger#toggle"  
    data-hamburger-target="navList" id="navList" class="hidden absolute md:h-full md:static md:flex md:mx-2 md:justify-end w-full top-full">
  <li class="bg-theme_light_purple hover-theme-dark-purple ">
    <%= link_to '首頁', '/home', aria: { current: 'page' }, class: 'text-3xl md:text-base font-bold text-white md:px-3 text-center block w-full py-2 md:py-3 border-t-2 border-b-2 md:border-0 md:h-full md:leading-10' %>
  </li>
<% if current_user && current_user.role == "user" %>
  <li class="bg-theme_light_purple hover-theme-dark-purple">
    <%= link_to '我的活動', '/events', aria: { current: 'page' }, class: 'text-3xl md:text-base font-bold text-white md:px-3 text-center block w-full py-2 md:py-3 border-b-2 md:border-0 md:h-full md:leading-10' %>
  </li>
<% elsif current_user && current_user.role == "vendor" %>
  <li class="bg-theme_light_purple hover-theme-dark-purple">
    <%= link_to '進入店鋪', '/stores', aria: { current: 'page' }, class: 'text-3xl md:text-base font-bold text-white md:px-3 text-center block w-full py-2 md:py-3 border-b-2 md:border-0 md:h-full md:leading-10' %>
  </li>
<% end %> 
<% if current_user %>
  <li class="bg-theme_light_purple hover-theme-dark-purple">
    <%= link_to '登出', '/users/sign_out', method: :delete, aria: { current: 'page' }, class: 'text-3xl md:text-base font-bold text-white md:px-3 text-center block w-full py-2 md:py-3 border-b-2 md:border-0 md:h-full md:leading-10', rel: 'nofollow' %>
  </li>
<% else %>
  <li class="bg-theme_light_purple hover-theme-dark-purple">
    <%= link_to '註冊', '/users/sign_up', aria: { current: 'page' }, class: 'text-3xl md:text-base font-bold text-white md:px-3 text-center block w-full py-2 md:py-3 border-b-2 md:border-0 md:h-full md:leading-10' %>
  </li>
  <li class="bg-theme_light_purple hover-theme-dark-purple">

    <%= link_to '登入', '/sign_in_session', aria: { current: 'page' }, class: 'text-3xl md:text-base font-bold text-white md:px-3 text-center block w-full py-2 md:py-3 border-b-2 md:border-0 md:h-full md:leading-10' %>
  </li>

<% end %>
</ul>
</nav>