<section class="h-screen pt-20">
        <div class="container px-6 py-12 h-full flex justify-center">
          <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
            <%= form_for @event  do |form| %>
              <div class="mb-3">
                <h1 class="text-3xl font-bold leading-tight tracking-tight text-center text-black md:text-3xl dark:text-white mb-5">
                  編 輯 活 動
                </h1>
                <%= form.label :title, '活動名稱', autofocus: true, 
                class:"block mb-2 text-base font-medium text-gray-900 dark:text-white" %>
                <%= form.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                required: true %>
              </div>
              <div class="mb-3">
                <%= form.label :subtitle, '副標題', class:"block mb-2 text-base font-medium text-gray-900 dark:text-white"  %>
                <%= form.text_field :subtitle, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                required: true %>
              </div>
              <div class="mb-3">
                <%= form.label :description, '活動簡述' , class:"block mb-2 text-base font-medium text-gray-900 dark:text-white"%>
                <%= form.text_area :description, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                required: true %>
              </div>
              <div class="mb-3">
                <%= form.label :venue, '活動場地', class:"block mb-2 text-base font-medium text-gray-900 dark:text-white"%>
                <%= form.text_field :venue, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                required: true %>
              </div>
              <div class="mb-3">
                <%= form.label :start_at, '活動開始日期', class:"block mb-2 text-base font-medium text-gray-900 dark:text-white"%>
                <%= form.datetime_field :start_at , class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                required: true %>
              </div>
              <div class="mb-3">
                <%= form.label :end_at, '活動結束日期', class:"block mb-2 text-base font-medium text-gray-900 dark:text-white"%>
                <%= form.datetime_field :end_at, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                required: true %>
              </div>
              <div class="mb-3">
                <%=form.label :avatar,"活動封面照片", class: "block mb-2 text-base font-medium text-gray-900 dark:text-white"%>
                <%=form.file_field :avatar, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true%>
              </div>
              <div class="flex justify-center">
                <button type="submit" data-mdb-ripple="true" data-mdb-ripple-color="light" class="new-btn mb-5">
                  完成修改
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </section>
      

      