<div class='container mx-auto flex justify-center flex-wrap pt-20 '>
    <h1 class=' text-center text-3xl font-bold text-theme_text4'>我的活動清單</h1>
    <div class='w-full flex justify-center my-3'>
      <%= link_to "新增活動", new_event_path , class:'theme-button' %>
    </div>
    <% @events.each do |event| %>
      <div class='flex justify-center content-center flex-wrap m-2 bg-white shadow-md border border-gray-200 rounded-lg max-w-sm dark:bg-gray-800 dark:border-gray-700 w-full md:max-w-xs min-w-xs pt-3'>
        
        <div>
          <%if event.avatar.attached?%>
            <img class="rounded align-center img-fixed" src="<%=(url_for(event.avatar))%>"/>
          <%end%>
        </div>
          <div class='w-full text-center text-xl font-bold my-3'>
            <%= event.title %>
          </div>
          <div class='w-full break-all mx-5'>
            &nbsp;<%= event.subtitle %>
          </div>
          <div class='w-full justify-center flex p-2'>
            <%= link_to '查看活動', event_path(event.id), class:'theme-button'%>
            <%= link_to '刪除活動' , event_path(event.id), method: 'DELETE' , data: {confirm: "你確定要刪除活動嗎?" } , class:'destroy-btn'%>
          </div>  
        </div>
      <% end %>
</div>