<body class='bg-theme_blue'>
  <div class='min-w-fit flex-col border bg-white py-10 shadow rounded-lg mx-20 mb-2 flex items-center justify-center h-screen'>
    <h1 class='text-2xl  font-bold'>活動清單</h1>
    <%= link_to "新增活動", new_event_path , class:'px-4 py-2 bg-theme_pink outline-none border border-indigo-100 rounded text-theme_text4 font-medium active:scale-95 hover:bg-theme_red hover:text-white focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200' %>
    <table class='table border-separate '>
      <thead class='bg-theme_blue text-center text-theme_text1 text-xl'>
        <td>活動名稱</td>
        <td>副標題</td>
        <td>活動內容</td>
        <td>活動開始日期</td>
        <td>活動結束日期</td>
        <td>場地</td>
        <td>動作</td>
      </thead>
      <% @events.each do |event| %>
        <tbody class='bg-theme_beige text-center'>
          <td class='p-3'><%= link_to event.title, event_path(event.id) , class:''%></td>
          <td><%= event.subtitle %></td>
          <td><%= event.description %></td>
          <td><%= event.start_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= event.end_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= event.venue %></td>
          <td>
            <%= link_to "編輯活動", edit_event_path(event.id), class:'px-4 py-2 bg-theme_pink outline-none border border-indigo-100 rounded text-theme_text4 font-medium active:scale-95 hover:bg-theme_red hover:text-white focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200'%>
            <%= link_to "刪除活動", event_path(event.id), class:'px-4 py-2 bg-theme_pink outline-none border border-indigo-100 rounded text-theme_text4 font-medium active:scale-95 hover:bg-theme_red hover:text-white focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200', method: "delete", data:{confirm:"確定要刪除?"} %>
          </td><br>
        </tbody>
      <% end %>
    </table>
  </div>
</body>