<body class=''>
  <h1>新增活動</h1>
  <%= form_for @event  do |form| %>
    <div>
      <%= form.label :'活動名稱:'%>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :'副標題:'%>
      <%= form.text_field :subtitle %>
    </div>
    <div>
      <%= form.label :'活動內容:'%>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.label :'活動開始日期:'%>
      <%= form.datetime_field :start_at %>
    </div>
    <div>
      <%= form.label :'活動結束日期:'%>
      <%= form.datetime_field :end_at %>
    </div>
    <div>
      <%= form.label :'場地:'%>
      <%= form.text_area :venue %>
    </div>
    <%= form.submit "新增活動" %>
  <% end %>
</body>