<!-- Section: Design Block -->
<section class="pt-20 md:pt-36 mb-10">
  <div class="md:px-12 text-gray-800 text-center lg:text-left">
    <div class="container mx-auto xl:px-32">
      <div class="grid lg:grid-cols-2 md:gap-x-10 items-center">
        <div class="mb-12 lg:mb-0">
          <%if @event.avatar.attached?%>
          <img
            class="rounded align-center mt-5"
            src="<%=(url_for(@event.avatar))%>"
          />
          <%end%>
        </div>

        <div class="mt-12 lg:mt-0">
          <h1
            class="mb-3 text-4xlmd:text-4xl xl:text-4xl font-bold tracking-tight text-center"
          >
            <%= @event.title %><br />
            <div
              class="mt-3 text-theme_dark_red text-2xl md:text-xl xl:text-xl font-bold tracking-tight border-2 rounded-md border-gray-500 px-2 py-2 mb-3"
            >
              <%= @event.subtitle %>
            </div>
          </h1>
          <article>
            <div class="mb-3">
              <strong
                class="block text-lg font-medium text-theme_dark_red dark:text-white"
                >活動內容：</strong
              >
              <span>&nbsp;&nbsp;<%= @event.description %></span>
            </div>
            <div class="mb-3">
              <strong
                class="block text-lg font-medium text-theme_dark_red dark:text-white"
                >活動地點：</strong
              >
              <span>&nbsp;&nbsp;<%= @event.venue %></span>
            </div>
          </article>
          <div>
            <strong>活動開始時間：</strong><%=
            @event.start_at.strftime("%Y-%m-%d - %H:%M") %> <br />
            <strong>活動結束時間：</strong><%= @event.end_at.strftime("%Y-%m-%d
            - %H:%M") %>
          </div>
          <div class="mt-5">
            <% if @event.user == current_user %>
            <a
              class="inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-base leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
              href="/events/<%= @event.id %>/stores"
              >前往選擇禮物</a
            >
            <a
              class="inline-block px-7 py-3 mr-2 bg-green-700 hover:bg-green-800 text-white font-medium text-base leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
              href="/events/<%= @event.id %>/edit"
              >編輯活動</a
            >

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mx-auto border-theme_blue w-1/2 border-b-2 mb-10"></div>

<div class="flex justify-center mb-5 flex-wrap gap-5 w-full">
  <% @event_products.each do |event_product| %>
  <div class="rounded-lg shadow-lg bg-white max-w-sm">
    <%if event_product.avatar.attached?%>
    <img src="<%=(url_for(event_product.avatar))%>" class="rounded-t-lg"/>
    <%end%>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">
        <%= event_product.name %>
      </h5>
      <p class="text-gray-700 text-base mb-4">
        &nbsp;&nbsp;<%= event_product.description %>
      </p>
      <div class="flex justify-center">
      <% if @event.user == current_user %> <%= link_to '移除禮物',
      event_event_product_path(@event, event_product) , method: "delete", data:
      { confirm: "確定刪除禮物嗎？"} ,class: "focus:outline-none text-white
      bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium
      rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600
      dark:hover:bg-red-700 dark:focus:ring-red-900"%> 
      <% else %>
      <a
        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        href="#"
        >前往結賬</a
      >

      <% end %>
    </div>
    </div>
  </div>
  <% end %>
</div>


