<div class="container px-6 pt-14 mx-auto flex flex-wrap items-center justify-center lg:h-full md:w-2/4">
    <div class="py-3 bg-theme_light_purple w-full text-center text-white text-3xl font-bold rounded-t-md">
      確認商品資訊
    </div>
    <div class="w-full w-2/3 bg-white bg-opacity-95 shadow-md p-4 flex flex-col">
      <h2 class="text-center text-2xl font-bold pb-2">
        購買商品：<%= @product.name %>
      </h2>
      <p class="text-center font-bold text-gray-500 text-xl my-2">
        商品單價：<%= @product.price %>
      </p>
      <p class="text-center font-bold text-gray-500 text-xl my-2">
        購買數量：<%= @order.sold_quantity %>
      </p>
      <div class="text-center text-2xl font-semibold text-slate-500 my-2">
        總金額：<%= @order.price %> 元
      </div>
      <%= form_tag "https://ccore.spgateway.com/MPG/mpg_gateway", method: :post, class: "w-full flex justify-center my-2" do %>
        <%= hidden_field_tag "MerchantID", @form_info[:MerchantID], readonly: true %>
        <%= hidden_field_tag "Version", @form_info[:Version], readonly: true %>
        <%= hidden_field_tag "TradeInfo", @form_info[:TradeInfo], readonly: true %>
        <%= hidden_field_tag "TradeSha", @form_info[:TradeSha], readonly: true %>
        <%= hidden_field_tag "Amt", @order.price.to_i, readonly: true %>
        <%= submit_tag "付款", class: "theme-button cursor-pointer" %>
      <% end %>
  </div>
</div>