<div class="flex justify-center flex-wrap pt-20 w-full">
<h1 class="w-full text-center text-3xl font-bold my-4">產品名稱：<%= @product.name %></h1>
  <ul class="text-center">
    <li>描述：<%=@product.description %></li>
    <li>庫存：<%=@product.stock%></li>
  </ul>
</div>

<%= form_with(url: orders_path, method: 'post', data: { controller: "order-quantity" }) do |f| %>
  <div class="flex justify-center">
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <button data-action="click->order-quantity#decrement" class="text-5xl font-bold px-5">-</button>
    <input data-order-quantity-target="quantity" type="number" name="quantity" value="1" min="1" max="<%= @product.stock %>">
    <button data-action="click->order-quantity#increment" class="text-5xl font-bold px-5">+</button>
  </div>
  <div data-controller="order-amount"
     data-price="<%= @product.price %>"
     data-action="update-quantity@document->order-amount#updateQuantity"
     >
    <div class="text-center my-4 text-2xl font-bold">
      單價：<%= @product.price %>元
    </div>
    <div class="text-center my-4 text-2xl font-bold">
      小計：<span data-order-amount-target="amount"></span>元
    </div>
  </div>

 
    <ul>
      <li> 收件人姓名:<%= @event.receiver%></li>
      <li> 收件人地址:<%= @event.address%></li>
      <li> 收件人電話:<%= @event.phone%></li>
    </ul>  

  
  
    <%= f.submit '結帳' %>
  </div>
<% end %>