
<div class="container px-6 pt-14 mx-auto flex items-center justify-center lg:h-full md:w-2/4">
  <%= form_with(url: orders_path, method: 'post', data: { controller: "order-quantity" }) do |f| %>
    <div class="my-2 flex justify-center flex-wrap rounded-md shadow-xl">
      <h1 class="py-3 bg-theme_light_purple w-full text-center text-white text-3xl font-bold rounded-t-md">
        產品名稱：<%= @product.name %>
      </h1>
      <p class="w-full text-center my-2 text-2xl font-bold">
        描述：<%=@product.description %>
      </p>
      <p class="w-full text-center my-1 text-2xl font-bold">
        庫存：<%=@product.stock%>
      </p>
      <div class="flex justify-center w-full">
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <button data-action="click->order-quantity#decrement" class="text-5xl font-bold px-5">-</button>
        <%= f.number_field :quantity, value: 1, min: 1, max: @product.stock, data: { order_quantity_target: "quantity" },class:"border-0 text-xl text-center " %>
        <button data-action="click->order-quantity#increment" class="text-5xl font-bold px-5">+</button>
      </div>
      <div data-controller="order-amount" data-price="<%= @product.price %>" data-action="update-quantity@document->order-amount#updateQuantity" class="w-full">
        <div class="text-center my-4 text-2xl font-bold">
          單價：<%= @product.price %>元
        </div>
        <div class="text-center my-4 text-2xl font-bold">
          小計：<span data-order-amount-target="amount"></span>元
        </div>
      </div>
      <p class="w-full text-center font-bold text-base mb-1"> 
        收件人姓名 : 
        <span class="font-normal text-theme_text4"><%= @event.receiver%></span>  
      </p>
      <p class="w-full text-center font-bold text-base mb-1"> 收件人地址 : 
        <span class="font-normal text-theme_text4"><%= @event.address%></span>
      </p>
      <p class="w-full text-center font-bold text-base mb-1"> 收件人電話 : 
        <span class="font-normal text-theme_text4"> <%= @event.phone%></span>
      </p>
      <%= f.submit '結帳', class: 'theme-button cursor-pointer mb-6 mt-3' %>
    </div>
  <% end %>
</div>
