<h1>商品更新</h1>
<%=form_with(model: @product){|f|%>
  <div>
      <%if @product.avatar.attached?%>
        <img src="<%=(url_for(@product.avatar))%>">
      <%end%>
  </div>
  <div>
    <%=f.label :name%>
    <%=f.text_field :name%>
  </div>
  <div>
    <%=f.label :description%>
    <%=f.text_area :description%>
  </div>
  <div>
    <%=f.label :price%>
    <%=f.text_field :price%>
  </div>
  <div>
    <%=f.label :stock%>
    <%=f.text_field :stock%>
  </div>
  <div>
    <%=f.label "產品照片上傳"%>
    <%=f.file_field :avatar%>
  </div>
  <%=f.submit "更新"%>
<%}%>
