<div class="pt-28">
  <!-- 商店資訊 -->
  <section>
    <div class="flex flex-col items-center justify-center">
      <div>
        <%if @store.avatar.attached?%>
          <img src="<%=(url_for(@store.avatar))%>" class="rounded align-center big_cover_img"/>
        <%end %>
      </div>
      <span class="text-3xl text-center font-bold mt-10">
        <%= @store.title %>
      </span>
      <span class="my-5 text-base text-center w-6/12">
        <%= @store.description %>
      </span>
    </div>
  </section>
  
  <!-- 功能列按鈕 -->
  <% if current_user.role == 'vendor' %>
    <div class="flex space-x-10 bg-gray-100 p-2 w-full justify-center">
      <%= link_to '編輯商店資訊' , edit_store_path(@store.id) ,class:"theme-button"%>
      <%= link_to '訂單查詢' , checkout_order_store_path(@store.id),class:"theme-button" %>
      <%= link_to '新增商品' , new_store_product_path(@store.id) ,class:"theme-button" %>
    </div>
  <% end %>

<!-- 商品列表 -->
  <div class=" mx-auto flex gap-10 flex-wrap justify-center px-3 pt-8  pb-3">
    <% @products.each do |product| %>
      <div class="bg-white shadow-md border-gray-200 rounded-lg ">
          <%if product.avatar.attached?%>
            <img src="<%=(url_for(product.avatar))%>" class="rounded-t align-center img-fixed"/>
          <%end%>
        <div class=" mt-2">
          <h1 class="text-center text-theme_text5 font-bold text-2xl tracking-tight mb-2">
            <%= product.name %>
          </h1>
          <p class="text-lg text-theme_text5 mb-3 ml-5">
            <span class="font-bold">商品描述：</span><%= product.description %>
          </p>
          <p class="text-lg text-theme_text5 mb-3  ml-5">
            <span class="font-bold">商品價格：</span><%= product.price %>
          </p>
          <p class="text-lg text-theme_text5 mb-3 ml-5">
            <span class="font-bold">商品庫存量：</span><%= product.stock %>
          </p>
          <% if current_user.role == 'vendor'%>
            <div class="mb-3 text-center">
              <%= link_to '編輯商品' , edit_store_product_path(@store,product) ,class:"theme-button"%>
              <%= link_to '刪除商品' , store_product_path(@store, product), method: 'DELETE' , data: {confirm: "確定嗎" } ,class:"destroy-btn"%>
            </div>
          <% end %>
          <% if current_user.role == 'user'  %>
            <div class="flex justify-center mb-3">
              <button
              data-controller="add-gift"
              data-action="click->add-gift#toggle"
              data-event-id="<%= @event.id%>"
              data-product-id="<%= product.id %>"
              class="theme-button">
              <%= @event.products.include?(product) ? '已加入禮物' : '加入禮物'%>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

