<h1>產品資料</h1>
<h2><%= @product.name %></h2>

  <ul>
    <li>產品描述:<%=@product.description%></li>
    <li>產品價格:<%=@product.price%></li>
    <li>庫存<%=@product.stock%></li>
  </ul>
<%=link_to "修正產品資訊",edit_product_path%>