<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>RubyJoy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="還在猜朋友會送心目中你禮物嗎?進來試試RubyJoy，建立你自己的禮物清單以及活動與派對!">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'gife.ico' %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body >
    <%= render 'shared/nav' %>
    <%= render 'layouts/messages' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
